body {
    background: wheat;
    font-family:Arial, Helvetica, Sans-serif;
    background: #f6f6f6;
    
}

:root {
  --main-color: #10cab7;
  --secondary-color: #2c4755;
  --section-padding: 60px;
  --section-background: #f6f6f6;
  --main-duration: 0.5s;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
scroll_behavior:smooth;
}
a {
  text-decoration: none;
}
.services{
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom) ;
    position: relative;
    background: var(--section-background);
} 
.services .container{
    display: grid;
    grid-templete-columns:repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}
.services .box{
    background: white;
    box-shadow:0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
    conter-increment:services;
    transition:var(--main-transition);
    position: relative;
}
.services .box::before{
    conter:"";
    left: 50%;
    transform: translateX(-50%);
    height: 3px;
    top: -3px;
    background: var(--section-background);
    position: absolute;
     width: 0;
     transition: var(--main-transition)
     
} 
.services .box:hover{
    transform: translatey(-10px)
}
.services .box:hover::before{
    width: 100%;
} 
.services .box >h3{
    text-align:center;
    margin: 20px 0 40px;
    font-size:25px;
    color: var(--main-color);
    
}
.services .box .info{
    padding: 15px;
    position: relative;
    background: #f9f9f9;
    text-align: right;
}
.services .box .info::before {
   content: "0" counter(services);
   position: absolute;
   color: white;
   left: 0;
   top: 0;
   height: 100%;
   width: 80px;
   font-size:30px;
   font-weight:bold;
   display :flex;
   justify-content:center;
   align-items:center;
   padding-right: 15px;
   background: var(--main-color);
}
.services .box .info::after{
    content:"";
    position: absolute;
    top: 0;
    left: 80px;
    width: 50px;
    background: #d5d5d5;
    height: calc(100% + 0.4px);
    transform:skewx(-30deg);
}
.services .box  .info a{
    color: var(--main-color);
}